

@mixin font($fontName, $fontFamily, $fw:normal, $fs:normal ){
	@font-face {
		font-family: '#{$fontFamily}';
		src: url('../fonts/#{$fontName}.eot');
		src: local('O'),
		url('../fonts/#{$fontName}.woff') format('woff'),
		url('../fonts/#{$fontName}.ttf') format('truetype'),
		url('../fonts/#{$fontName}.svg') format('svg');
		font-weight: $fw;
		font-style: $fs;
	}
}

/* fonts */
//@include font(fontName, fontFamily, normal, normal);


