%input{	
	display: block;
	width: 100%;
	outline: none;
	border: 1px solid #eaeaea;
	background: #f7f7f7;
	box-shadow: none;
	outline: none;
	font-family: $fontFamily;
}

.form{
	position: relative;
	legend{
		@extend .subheading;
	}
	&-field{
		margin-bottom: 15px; 
		label{
			font-size: $bodyFontSize; 
			display: block;
			margin-bottom: 15px;
		}
		@extend %last;
	}
}