@media (min-width: $container) {
	.container {
		width: $container;
		padding: 0 0;
	}
}
@media (min-width:768px){ 
	.navbar-toggle {
		display: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
}
@media (max-width:768px){ 
	.header{
		&-menu {
			ul{
				display: block;
				li{
					display: block; 
					&:first-child, 
					&:last-child{
						text-align: center;
					}
				}
			}
		}
	}
	
}

@media (max-width:480px){
}