$fontFamily:  arial, sans-serif;
$baseColor : #000; // base site text color, links
$baseColorHover : #000; //link hover
$ctextColor : #242424; 
$titleSize : 1.2em;
$bodyBackground : #fff;
$bodyFontSize : 14px;
$container : 960px;
$minContainer : 320px;