<div class="form zNice">
	<form>
	  <legend>Заголовок</legend>
	  <div class="form-field" name="name" />
	    <label>Name</label>
	    <input type="text">
	  </div>
	  <div class="form-field">
	    <label>email</label>
	    <input type="email" name="mail" />
	  </div>
	  <div class="form-field">
	    <label>Select</label>
	    <select name="type">
	    	<option value="1">1</option>
	    	<option value="2">2</option>
	    </select>
	  </div>
	  <button type="submit" class="button">Send</button>
	</form>
</div>