<div class="slider">
	<div>1<img src="images/placeholder1.jpg" alt=""></div>
	<div>2<img src="images/placeholder1.jpg" alt=""></div>
	<div>3<img src="images/placeholder1.jpg" alt=""></div>
</div> 
<div class="hiddenBlock">
	<div id="popup">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta reprehenderit libero cupiditate nesciunt pariatur, maxime corporis distinctio accusamus perspiciatis molestiae voluptatibus quos nisi, iure facere sapiente laboriosam laudantium ut numquam!
	</div>
</div>
<div class="ctext">
	<h1>Lorem ipsum dolor</h1>
	<h2>Lorem ipsum dolor</h2>
	<h3>Lorem ipsum dolor</h3>
	<h4>Lorem ipsum dolor</h4>
	<h5>Lorem ipsum dolor</h5>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, itaque harum a perspiciatis ducimus obcaecati natus dolorem autem fugiat cum.</p>
	<p></p>
	<a href="/">Hey, I'm link.</a>
	<p></p>
	<a href="#popup" class="button fancybox">Open popup!</a>
	<a href="#" class="button btn-outline">Just outline button</a>
	<input type="submit" value="Submit me!" />
	<button>I'm button</button>
</div>