<div class="slider">
	<div>1<img src="images/placeholder1.jpg" alt=""></div>
	<div>2<img src="images/placeholder1.jpg" alt=""></div>
	<div>3<img src="images/placeholder1.jpg" alt=""></div>
</div> 
<div class="hiddenBlock">
	<div id="popup">
		<div class="popup-inner ctext">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta reprehenderit libero cupiditate nesciunt pariatur, maxime corporis distinctio accusamus perspiciatis molestiae voluptatibus quos nisi, iure facere sapiente laboriosam laudantium ut numquam!</p>
		</div>
	</div>
</div> 

<div class="container">
	<div class="ctext">

		<!--Example of using typo-->
		<h1>H1 Lorem ipsum dolor</h1>
		<h2>H2 Lorem ipsum dolor</h2>
		<h3>H3 Lorem ipsum dolor</h3>
		<h4>H4 Lorem ipsum dolor</h4>
		<h5>H5 Lorem ipsum dolor</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, itaque harum a perspiciatis ducimus obcaecati natus dolorem autem fugiat cum.</p>
		<p></p>
		<a href="#">Hey, I'm link.</a>
		<p></p>	

		<!--Example of using buttons-->
		<a href="#popup" class="button fancybox">Open popup!</a>
		<a href="#" class="button btn-outline">Just outline button</a>
		<a href="#" class="button btn-small">Small button</a>
		<input type="submit" class="button" value="Submit me!" />
		<button class="button">I'm button</button>
		<a href="#" class="button btn-block">block button</a>

		<!--Example of tabs-->
		<div class="tabs">
			<div class="button-group">
				<a href="#" class="button" data-tabId="1">Tab 1</a>
				<a href="#" class="button" data-tabId="2">Tab 2</a>
				<a href="#" class="button" data-tabId="3">Tab 3</a>
			</div>
			<div class="tabs-list">
				<div class="tabs-item" data-tab="1">Tab 1 Lorem ipsum dolor sit.</div>
				<div class="tabs-item" data-tab="2">Tab 2 Lorem ipsum dolor sit.</div>
				<div class="tabs-item" data-tab="3">Tab 3 Lorem ipsum dolor sit.</div>
			</div>
		</div>

	</div>
</div>